/*primary color*/
.bg-cream {
    background-color: #FFF2E1;
}

/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

.bg-yellow-500 {
    background-color: #F48C06;
}
.text-yellow-500 {
    color: #F48C06;
}
.text-darken {
    color: #2F327D;
}
